  <section class="contact section" id="contact">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Contact Me</h2>
              </div>
            </div>
            <!--  = Contact Form  = -->
            <div class="row">
              <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
              <h4 class="contact-sub-title padd-15">
                I'M VERY RESPONSIVE TO MESSAGES
              </h4>
            </div>
            <form class="row" id="form">
              <div class="contact-form padd-15">
                <div class="row">
                  <div class="form-item col-6 padd-15">
                    <div class="input-control">
                      <input id="username" name="username" type="text"  class="form-control"
           placeholder="Name"/>
                      <div class="error"></div>
                    </div>
                  </div>
                  <div class="form-item col-6 padd-15">
                    <div class="input-control">
                      <input id="email" name="email" type="text" class="form-control" placeholder="Email" />
                    <div class="error"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-item col-12 padd-15">
                    <div class="input-control">
                      <input id="subject" name="subject" type="text" class="form-control"
                      placeholder="Subject"/>
                      <div class="error"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-item col-12 padd-15">
                    <div class="input-control">
                      <textarea
                      id="textarea"
                      name="textarea"
                      placeholder="Message" class="form-control"
                    ></textarea>
                    <div class="error"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-item col-12 padd-15">
                    <button type="submit" class="btn">Send Message</button>
                  </div>
                </div>
              </div>
            </form></div>
          </div>
        </section>