     <footer>
      <div class="share">
        <a href="tel:+967738547437" class="fa fa-phone" target="_blank"></a>
        <a href="mailto:almktaryh@gmail.com" target="_blank" class="fa fa-envelope"></a>
        <a href="https://www.facebook.com/hadeel.almktary.5" target="_blank" class="fab fa-facebook-f"></a>
        <a href="https://github.com/dely22" target="_blank" class="fab fa-github"></a>
        <a href="https://www.linkedin.com/in/hadeel-jameel-23ab051ba" target="_blank" class="fab fa-linkedin"></a>
      </div>
      <div class="credit">
        created by <span>Eng. Hadeel Jameel</span> | all rights reserved!
      </div>
    </footer>