  <!--	Theme switcher  in desktop screen-->
    <div class="swicher">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="label">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
        <div class="ball"></div>
      </label>
    </div>
    <!--   Aside Start   -->
    <aside class="aside">
      <div class="logo">
        <a href="#"><span>H</span>deel</a>
      </div>
      <div class="nav-toggler">
        <span></span>
      </div>
      <nav class="nav">
        <li>
          <a href="#home" class="active"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#about"><i class="fa fa-user"></i> About Us</a>
        </li>
        <li>
          <a href="#services"><i class="fa fa-list"></i>Services</a>
        </li>
        <li>
          <a href="#portfolio" class="active"
            ><i class="fa fa-briefcase"></i>Portfolio</a
          >
        </li>
        <li>
          <a href="#contact"><i class="fa fa-comments"></i>Contact Us</a>
        </li>
      </nav>
    </aside>
    <!--   Aside End   -->

    <!--  navigation for mobile screen start-->
    <header>
      <!-- logo -->
      <div class="logo">
        <a href="#"><span>H</span>deel</a>
      </div>
    </header>
    <nav class="navigation">
      <ul>
        <li class="list active">
          <a href="#">
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Home</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="text">About Me</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><i class="fa fa-list"></i></span>
            <span class="text">Services</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><i class="fa fa-briefcase"></i></span>
            <span class="text">Portfolio</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><i class="fa fa-comments"></i></span>
            <span class="text">Contact</span>
          </a>
        </li>

        <div class="indicatior"></div>
      </ul>
    </nav>
    <!--  navigation for mobile screen end -->