  <section class="portfolio" id="portfolio">
      <div class="row">
        <div class="section-title padd-15">
          <h2>portfolio</h2>
        </div>
      </div>

      <div class="box-container">
        <div class="box">
          <img src="port-hom.jpg" alt="" />
          <h3>coming soon</h3>
          <div class="icons">
            <a href="#" class="fas fa-link"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-search"></a>
          </div>
        </div>

        <div class="box">
          <img src="port-hom.jpg" alt="" />
          <h3>coming soon</h3>
          <div class="icons">
            <a href="#" class="fas fa-link"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-search"></a>
          </div>
        </div>

        <div class="box">
          <img src="port-hom.jpg" alt="" />
          <h3>coming soon</h3>
          <div class="icons">
            <a href="#" class="fas fa-link"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-search"></a>
          </div>
        </div>

        <div class="box">
          <img src="port-hom.jpg" alt="" />
          <h3>coming soon</h3>
          <div class="icons">
            <a href="#" class="fas fa-link"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-search"></a>
          </div>
        </div>

        <div class="box">
          <img src="port-hom.jpg" alt="" />
          <h3>coming soon</h3>
          <div class="icons">
            <a href="#" class="fas fa-link"></a>
            <a href="#" class="fas fa-share"></a>
            <a href="#" class="fas fa-search"></a>
          </div>
        </div>

        <div class="box">
          <div class="image-container">
            <div class="big-image">
              <img
                src="port-hom.jpg"
                class="big-image-2"
                alt="Big green pic"
              />
            </div>
            <div class="small-image">
              <img
                src="my-first-webpage.png"
                class="small-image-2"
                alt="green-small-image1"
              />
              <img
                src="my-webpage.png"
                class="small-image-2"
                alt="green-small-image2"
              />
             
            </div>
          </div>
        </div>
      </div>
    </section>