 <section class="service section" id="services">
      <div class="container">
        <div class="row">
          <div class="section-title padd-15">
            <h2>Services</h2>
          </div>
        </div>
        <div class="row">
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-mobile-alt"></i>
              </div>
              <h4>PWA</h4>
            </div>
          </div>
          <!--   Service item End  = -->
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-laptop-code"></i>
              </div>
              <h4>Responsive Design</h4>
            </div>
          </div>
          <!--   Service item End  = -->
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-palette"></i>
              </div>
              <h4>Front-end Design</h4>
            </div>
          </div>
          <!--   Service item End  = -->
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-code"></i>
              </div>
              <h4>Web programming</h4>
            </div>
          </div>
          <!--   Service item End  = -->
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-search"></i>
              </div>
              <h4>Seo Marketing</h4>
            </div>
          </div>
          <!--   Service item End  = -->
          <!--   Service item Start  = -->
          <div class="service-item padd-15">
            <div class="service-item-inner">
              <div class="icon">
                <i class="fa fa-bullhorn"></i>
              </div>
              <h4>Digital Marketing</h4>
            </div>
          </div>
          <!--   Service item End  = -->
        </div>
      </div>
    </section>